elasticsearch
requests
protobuf==4.25.8 #Temporary change because of protobuf new version bug: https://github.com/protocolbuffers/protobuf/issues/10051
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
